:root {
    --cream : #ffe4b5;
    --blood : #b22222;
    --rojo : #D91010;
}

body{
    margin: 0;
}

.navbar, footer, .home-text, .modal-register, .login-button button{
    background-color: var(--blood);
}

.home-text{
    background-color: rgba(255, 250, 240, 0.493);
}

.home-text h1{
    color: var(--blood);
    font-weight: bold;
}

.tentang-kami, .stok-darah {
    padding-top: 100px;
}

.uk-table thead tr th, .uk-table tbody tr td{
    text-align: center;
}

.uk-card-media-left img{
    width: 600px;
}

.daftar-akun p a{
    color: var(--blood);
}

.modal-register h3, .login-button button, .footer-desc, .footer-desc h2, .footer-contact a, .footer-menu ul li a, .footer-copyright p{
    color: var(--cream);
}

.seputar-info{
    padding-bottom: 100px;
}

.card-info{
    transition: transform 0.5s ease;
    /* background-color: lightgreen; */
    width: 350px;
    height: 350px;
    color: black;
    padding: 25px;
    border-radius: 25px;
}

.info-1{
    background-color: rgb(69, 69, 253);
}

.info-2{
    background-color: rgb(247, 247, 72);
}

.info-3{
    background-color: lightgreen;
}

.card-info p{
    font-weight: bolder;
    font-size: 20px;
}

.card-info ul li{
    font-size: 16px;
}

.card-info:hover{
    transform: scale(1.1, 1.1);
    background-color: rgba(255, 0, 0, 0.76);
    /* color: black; */
}


/* footer */
.footer-logo img{
    width: 200px;
}

.footer-menu ul li{
    margin-left: 100px;
    /* color: var(--cream); */
}

.footer-copyright p{
    margin-left: 100px;
    padding-top: 20px;
}


@media (max-width: 768px) {
    .tentang-kami .uk-card .uk-card-body .uk-card-title{
        text-align: center;
    }

    .card-info{
        width: auto;
        height: auto;
        font-size: 15px;
    }

    .footer-logo img{
        width: 150px;
    }

    .footer-desc{
        text-align: center;
    }

    .footer-menu ul li, .footer-copyright p{
        margin: 0;
        text-align: center;
    }
}